.App {
  text-align: center;
}

header {
  background-color: #2b2d31;
  color: white;
  height: 10vh;
}

.title {
  margin: 0;
  height: 6vh;
}

.map-container {
  height: 90vh;
}

.homepage {
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.credentials-container {
  display: flex;
  min-height: 90vh;
  width: 45vw;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 237, 237);
}

.credentials-form {
  height: 40vh;
  width: 20vw;
  background-color: white;
  box-shadow: 5px 5px 10px grey;
}

.homepage-gif {
  min-height: 90vh;
  width: 55vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.greeting {
  width: 55vw;
  margin: 0;
}

.navbar-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 4vh;
  background-color: #3f4449;
}

.navbar {
  display: flex;
  position: absolute;
  right: 3vw;
}

.nav-btn {
  background-color: white;
  color: #2b2d31;
  outline: none;
  border: none;
  margin: 0 1em;
  height: 3vh;
  width: 5em;
  border-radius: 3px;
}

.nav-btn:hover {
  background-color: rgb(243, 243, 243);
}
