.comment-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  display: flex;
  width: 60vw;
  justify-content: left;
}

.inner-container {
  display: grid;
  grid-template-columns: 10fr 1fr;
  width: 45vw;
  border: 1px solid rgb(231, 231, 231);
  background-color: rgb(250, 250, 250);
}

.profile-picture {
  height: 10vh;
  border-radius: 50%;
}

.content {
  display: grid;
  grid-template-columns: 1fr 8fr;
  width: 45vw;
  text-align: left;
}

.text {
  margin: 0 0 0.5em 0;
  width: 35vw;
}

.handle {
  margin: 0.5em 0;
  width: 45vw;
}

.delete-container {
  display: relative;
}

.delete {
  background-color: rgb(252, 143, 143);
  border: none;
  border-radius: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

.comment-form {
  display: flex;
  width: 60vw;
  align-items: center;
}

.comment-input {
  width: 30vw;
  height: 5vh;
  font-size: 16px;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.comment-content-container {
  width: 45vw;
}
