.pin-thumbnail {
  width: 10vw;
}

.pin {
  width: 40px;
}

.pin:hover {
  width: 8vw;
  border-radius: 10%;
}

.button-container {
  position: relative;
}

.street-style {
  position: absolute;
  left: 3vw;
  top: 3vh;
  z-index: 1;
  background-color: transparent;
  color: white;
  outline: none;
  margin: 0 1em;
  height: 4vh;
  width: 7em;
  border-radius: 3px;
  border: 3px solid white;
  font-family: 'Lexend Deca', sans-serif;
  font-size: large;
}

.satellite-style {
  position: absolute;
  left: 3vw;
  top: 3vh;
  z-index: 1;
  background-color: transparent;
  color: black;
  outline: none;
  margin: 0 1em;
  height: 4vh;
  width: 7em;
  border-radius: 3px;
  border: 3px solid black;
  font-family: 'Lexend Deca', sans-serif;
  font-size: large;
}
