.detail-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(238, 237, 237);
  min-height: 90vh;
}

.post-card {
  background-color: white;
  width: 60vw;
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-picture {
  width: 45vw;
}

.section-title {
  width: 45vw;
  text-align: left;
  margin-bottom: 0;
}

.grid-container {
  width: 45vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.poster-container {
  width: 52.5vw;
  display: flex;
  align-items: center;
  text-align: left;
}

.delete-container {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(252, 143, 143);
  width: 5vw;
  height: 5vh;
}

.comment-section {
  background-color: white;
  width: 60vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #2b2d31;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: absolute;
  height: 5vh;
  width: 3vw;
  right: 0;
  top: 0;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3f4449;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-option {
  color: black;
  display: block;
  position: absolute;
  right: 0;
  top: 5vh;
  display: block;
}

.dropdown-choice {
  min-width: 3vw;
  display: block;
  border: none;
  background-color: #b3efb2;
  color: black;
}

.edit-field input {
  display: block;
  margin: 0;
  width: 20vw;
  height: 3vh;
}

.done-btn {
  display: flex;
  justify-content: left;
}

.show {
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.cropper {
  display: flex;
  justify-content: center;
}

.crop-container {
  position: relative;
  min-height: 50vh;
  min-width: 30vw;
}

.preview {
  background-color: rgb(238, 237, 237);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.address-check-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.address {
  padding: 0 2vw;
}

.checkmark {
  width: 3vw;
  height: 5vh;
}

.preview-container {
  width: 60vw;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
}

.feed-card {
  margin: 2vh 0;
  width: 60vw;
  background-color: white;
}

.title-container {
  width: 45vw;
}

.user-container {
  display: flex;
  align-items: center;
  width: 45vw;
}

.feed-caption {
  margin-left: 7.5vw;
  text-align: left;
}

.align-text-left {
  text-align: left;
  width: 45vw;
  margin: 1vh 0 0 0;
}

.date {
  margin-bottom: 1vh;
}

.post-form {
  background-color: white;
  width: 60vw;
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2vh 0;
}

.post-form-title {
  width: 60vw;
}

.form-fields {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 15vh;
}

.form-fields form {
  position: absolute;
  width: 30vw;
  left: 15vw;
  display: flex;
  flex-wrap: wrap;
}

.form-fields input {
  display: block;
  width: 30vw;
  margin-bottom: 1vh;
}

.preview-pic {
  width: 45vw;
}
