.detail-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(238, 237, 237);
  min-height: 90vh;
  padding-bottom: 10vh;
  font-family: 'Lexend Deca', sans-serif;
}

.post-card {
  background-color: white;
  width: 60vw;
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 5px 5px 10px grey;
}

.post-picture {
  width: 45vw;
}

.section-title {
  width: 45vw;
  text-align: left;
  margin-bottom: 0;
}

.grid-container {
  width: 45vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.poster-container {
  width: 52.5vw;
  display: flex;
  align-items: center;
  text-align: left;
}

.delete-container {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(252, 143, 143);
  width: 5vw;
  height: 5vh;
}

.comment-section {
  background-color: white;
  width: 60vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
  box-shadow: 5px 5px 10px grey;
}

.comment-section-inner {
  background-color: white;
  width: 60vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  background-color: #3f4449;
  border-left: 2px solid #3f4449;
  color: white;
  outline: none;
  width: 3vw;
  border-radius: 0 0 0 15%;
}

.dropdown-menu:hover {
  background-color: #616970;
  border-left: 2px solid #616970;
}

.option {
  display: block;
  background-color: white;
  color: black;
  text-decoration: none;
  text-align: center;
  min-width: 3vw;
  padding-top: 0.3em;
}

.option:hover {
  background-color: rgb(235, 235, 235);
}

.options-container {
  position: absolute;
  right: 1px;
  border: 1px solid #3f4449;
  border-radius: 3px;
}

.menu-icon {
  width: 2vw;
}

#delete {
  color: rgb(252, 143, 143);
}

.preview {
  background-color: rgb(238, 237, 237);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}

.address-check-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.address {
  padding: 0 2vw;
}

.checkmark {
  width: 3vw;
  height: 5vh;
}

.preview-container {
  width: 60vw;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  padding-bottom: 3vh;
  box-shadow: 5px 5px 10px grey;
}

.feed-card {
  margin: 2vh 0;
  width: 60vw;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title-container {
  width: 45vw;
}

.user-container {
  display: flex;
  align-items: center;
  width: 45vw;
}

.feed-title {
  background-color: #7a9e7e;
  color: white;
  margin: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-content {
  width: 45vw;
}

.align-text-left {
  text-align: left;
  width: 45vw;
  margin: 1vh 0 0 0;
}

.caption {
  font-size: larger;
}

.date {
  margin-bottom: 1vh;
}

.post-form {
  background-color: white;
  width: 60vw;
  min-height: 30vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2vh 0;
  box-shadow: 5px 5px 10px grey;
}

.post-form-title {
  width: 60vw;
}

.form-fields {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 15vh;
}

.form-fields form {
  position: absolute;
  width: 30vw;
  left: 15vw;
  display: flex;
  flex-wrap: wrap;
}

.form-fields input {
  display: block;
  width: 30vw;
  margin-bottom: 1vh;
}

.preview-pic {
  width: 45vw;
}

.flex {
  display: flex;
  width: 45vw;
  justify-content: center;
}

.check-address {
  width: 10em;
  border-radius: 10px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: medium;
}

.caption {
  text-align: left;
  font-size: x-large;
}

.edit-field {
  display: flex;
  margin: 2vh 0;
}

.editing-caption {
  width: 30vw;
}
