.profile-page-picture {
  width: 15vw;
  background-color: #7a9e7e;
}

.profile-header-container {
  width: 100vw;
  height: 10vh;
  background-color: #7a9e7e;
}

.flex-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.relative {
  position: relative;
}

.edit-btn {
  position: absolute;
  top: 1vh;
  right: 1vh;
}

.white {
  color: white;
}

.edit-camera {
  width: 1.5vw;
  z-index: 1;
}
